<footer class="bg-dark p-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h3 class="text-light">Tambien puedes contactarme</h3>
                <p class="text-light">Por mis redes sociales</p>
            </div>
            <div class="col-md-6">
                <h3 class="text-light mb-4 text-end">Redes Sociales</h3>
                <div class="d-flex justify-content-end">
                    <a class="social-icons" href=""><i class="fa-brands fa-github"></i></a>
                    <a class="social-icons" href=""><i class="fa-brands fa-linkedin"></i></a>


                </div>

            </div>

        </div>

        <hr class="text-light mt-4">

        <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-light">
                    2023 - Todos los derechos reservados
                </p>

            </div>
            <div class="col-md-6">
                <p class="text-end text-light">
                    Hecho por Jose Pina
                </p>

            </div>

        </div>
    </div>

</footer>