<section class="bg-light" id="home">
    <div class="container col xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{url_for('static', filename='img/web.jpg')}}" class="d-block msx-lg-auto img-fluid" alt="bootstrap themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-2 typing-animation">I'm Jose Pina.</h2>
                <p class="lead fs-2">Backend Developer Jr.</p>
                <hr class="my-4">
                <p class="fs-5 pb-4">Hi I'm Jose Pina Jr Backend Developer focused on Python with Django and Flask, with databases like SQLite, PostgreSQL, MySQL and MongoDB I also handle the use of APIRest among others. In this small page you can see all my recent work and you can also communicate with me.</p>
                <a class="btn btn-primary btn-lg" href="#contact" role="button">Contact to Me!</a>

            </div>

        </div>

    </div>

</section>
