<section class="bg-light" id="home">
    <div class="container col xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{url_for('static', filename='img/web.jpg')}}" class="d-block msx-lg-auto img-fluid" alt="bootstrap themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-2 typing-animation">I'm Jose Pina.</h2>
                <p class="lead fs-2">Backend Developer Jr.</p>
                <hr class="my-4">
                <p class="fs-5 pb-4">You can see my recents projects how you can see im not the best with the frontend but i can do cool things!!</p>
                <p class="btn btn-primary btn-lg" href="#contact" role="button">Contact to Me!</p>

            </div>

        </div>

    </div>

</section>
