{% extends 'base.html'%}

{% block title %}Email Enviado{%endblock%}

{%block content%}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-success">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"><i class="fa-solid fa-envelope-circle-check" style="margin-right: 10px"></i>!Email Send!</h2>
                    <p class="card-text text-center">Your Email was successfully sent</p>
                    <a href="{{url_for('index')}}" class="btn btn-success d-block mx-auto mt-4"><i class="fa-solid fa-house" style="margin-right: 10px"></i>Back to Home</a>
                </div>

            </div>
        </div>
    </div>

</div>

{%endblock%}