<section class="container p-5" id="portfolio">
    <h2 class="text-center">Mis Proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename = 'img/todo-list.png')}}" alt="Todo list" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">Lista de Tareas - Flask</h5>
                    <p class="card-text">
                        Este es un proyecto de gestor de lista de tareas que esta desarrolado en Python con Flask y base de datos relacional.
                    </p>
                    <a href="#" class="nav-link text-primary">Link Aqui.</a>

                </div>

            </div>

        </div>

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename = 'img/blog-post.png')}}" alt="Todo list" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">Blog - Flask</h5>
                    <p class="card-text">
                        Este es un proyecto de la creacion de un blog donde puedes añadir y crear post inciiar sesion registrate etc..
                    </p>
                    <a href="#" class="nav-link text-primary">Link Aqui.</a>

                </div>

            </div>

        </div>

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename = 'img/api-contact.png')}}" alt="Todo list" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">APIRest - Flask</h5>
                    <p class="card-text">
                        Una API de contactos. 
                    </p>
                    <a href="#" class="nav-link text-primary">Link Aqui.</a>

                </div>

            </div>

        </div>

    </div>

</section>