<section class="container p-5" id="portfolio">
    <h2 class="text-center">My Projects</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename = 'img/todo-list.png')}}" alt="Todo list" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">To Do List - Flask</h5>
                    <p class="card-text">
                        This is a task list manager project that is developed in Python with Flask and relational database.
                    </p>
                    <a href="https://github.com/byterbluu/To-do-app" target="_blank" class="nav-link text-primary">Link Here.</a>

                </div>

            </div>

        </div>

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename = 'img/blog-post.png')}}" alt="Todo list" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">Blog - Flask</h5>
                    <p class="card-text">
                        This is a project of creating a blog where you can add and create posts log in register etc...
                    </p>
                    <a href="https://github.com/byterbluu/Project-Blog-Flask" target="_blank" class="nav-link text-primary">Link Here.</a>

                </div>

            </div>

        </div>

        <div class="col">
            <div class="card">
                <img src="{{url_for('static', filename = 'img/api-contact.png')}}" alt="Todo list" class="d-block mx-lg-auto img-fluid">

                <div class="card-body">
                    <h5 class="card-title">APIRest - Flask</h5>
                    <p class="card-text">
                        An API of contacts. 
                    </p>
                    <a href="https://github.com/byterbluu/APIREST-PYTHON-FLASK" target="_blank" class="nav-link text-primary">Link Here.</a>

                </div>

            </div>

        </div>

    </div>

</section>